<form action="/merchants" method= "post">

<label for="merchant_name">Tag Category:</label>
<input type="text" id="merchant_name" name="merchant_name">


<input type="submit" value="Create new Merchant">
</form>
