

<form action="/merchants" method= "post">

<p><label for="merchant_name">Tag Category:</label>
<input type="text" id="merchant_name" name="merchant_name"></p>


<p><input type="submit" value="Create new Merchant"></p>
</form>
