<!DOCTYPE html>
<html>
<head>
  <title>Family Budget Planner</title>
  <link rel="stylesheet" href="/styles/style.css" type="text/css">
</head>
<body>
  <div class="grid">
    <div class="box a">
      <img class="logo1" src="/images/wad-cash-673406.jpg" >
     </div>
    <div class="box b"><h1>Home Budget Planner</h1></div>
    <div class="box c">
      <img class="logo1" src="/images/wad-cash-673406.jpg" ></div>
  </div>

<div class="navbar">
  <a href="http://localhost:4567/transactions">Transactions</a>
  <a href="http://localhost:4567/tags">Tags</a>
  <a href="http://localhost:4567/merchants">Merchants</a>
  <a href="http://localhost:4567/transactions/new">Add Transaction</a>
  <a href="http://localhost:4567/merchants/new">Add Merchant</a>
  <a href="http://localhost:4567/tags/new">Add Tag</a>
</div>

<%= yield %>

</body>
</html>
