<!DOCTYPE html>
<html>
<head>
  <title>Hogwarts</title>
  <link rel="stylesheet" href="/style.css">
</head>
<nav>
  <!-- <ul>
    <li>
      <! <a href="/students">Students Register</a>
    </li>
  </ul> -->
</nav>

<%= yield %>

</body>
</html>
