

<form action="/tags" method= "post">
<p><label for="tag_name">Tag Category:</label>
<input type="text" id="tag_name" name="tag_name"></p>

<p><input type="submit" value="Create new Tag Category"></p>
</form>
